<div th:fragment="menu">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/protegido}">Protegido home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/protegido/protegido-2}">Protegido 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/restringido}">Restringido home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/restringido/restringido-2}">Restringido 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/liberada}">Liberada home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/liberada/liberada-2}">Liberada home</a>
        </li>
    </ul>
</div>